<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Messages</title>
</head>
<body>

<div style="position: absolute;
    margin: auto; top: 0; left: 0; bottom: 450px; right: 0; height: 1px; text-align: center">
  <h2 style="margin-bottom: 50px">Message service</h2>
  <%=yield%>
</div>

</body>
</html>